.bundle
.env
.env.*
.DS_Store
/log/*
!/log/.keep
/tmp/*
!/tmp/pids/
!/tmp/pids/.keep
/storage/*
/vendor/bundle
/node_modules
/web/node_modules
/web/.next
/web/out
/coverage
/public/assets
/public/packs
/db/*.sqlite3
/db/*.sqlite3-*
